/* Aplica um reset global a todos os elementos da página */
* {
    margin: 0; /* Remove as margens padrão dos elementos (como <body>, <h1>, <p>, etc.) */
    padding: 0; /* Remove o padding padrão dos elementos */
    border: none; /* Remove qualquer borda padrão (como bordas de links ou botões) */
    outline: none; /* Remove a linha de foco (outline) que aparece ao clicar em um elemento como um link ou botão */
    font-weight: 300; /* Define o peso da fonte como 300 (mais leve) para todos os textos */
    box-sizing: border-box; /* Inclui padding e border nas dimensões de width e height (importante para layout consistente) */
}

/* Estilo para os links */
a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: black; /* Define a cor do texto dos links como preta */
}

/* Estilo para listas não ordenadas */
ul {
    list-style: none; /* Remove os marcadores padrão (pontos, círculos) de listas não ordenadas */
}

/* Estilo para imagens */
img {
    max-width: 100%; /* Garante que as imagens não ultrapassem a largura do seu contêiner (responde a diferentes tamanhos de tela) */
}
