.flex-start {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.space-between {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.space-around {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.container.space-around div, .container.space-evenly div, .contaienr.space-between div {
    margin: 0;
}